//
// BANNER
//

.banner {
  width: 100%;
  height: 335px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  font-family: $font-family-bold;
  font-size: 1rem;
  line-height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 5%;
  @include tablet {
    height: 425px;
    font-size: 1.9rem;
    line-height: 80px;
  }
  @include desktop {
    margin: 0 auto;
    padding-left: 10%;
    height: 500px;
  }
  &__title {
    @extend .container;
    text-align: left;
    color: $banner-title-color;
    width: 100%;
  }
}

.banner--index {
  background-image: linear-gradient(RGBA(50, 50, 50, 0.2)),
    url(../assets/Images/concert-1.jpg);
}

.banner--shows {
  background-image: linear-gradient(RGBA(50, 50, 50, 0.3)),
    url(../assets/Images/matthew-kalapuch-sqJ4tLBiurw-unsplash.jpg);
  height: 500px;
  @include tablet {
    height: 800px;
  }
}

.banner p {
  color: $banner-title-color;
  font-family: $font-family-demi;
  font-size: 1rem;
}

.banner--shows iframe {
  margin: 25px 0;
  border-radius: 7%;
  width: 95%;
  height: auto;
  @include tablet {
    width: 50%;
  }
}
