// Breakpoints
$tablet-bp: 768px;
$desktop-bp: 1440px;

//Font
$font-family-regular: "Avenir Next Regular";
$font-family-demi: "Avenir Next Demi";
$font-family-bold: "Avenir Next Bold";

// Colors
$header-bg-color: #323232;
$header-text-color: #afafaf;
$header-color-chosen: #ffffff;
$banner-title-color: #ffffff;
$text-color: #323232;
$gallery-bg-color: #fafafa;
$footer-bg-color: #323232;
$footer-text-color: #ffffff;
